.colorHeader {

    background-color: #1CC24E;
  
}

.textColor {

    color: white
}

.colorBtn {

    background-color: #3E5902;

}

.colorLogin{
    background-color:  #1E2601;

}

.colorIndicadores{

    color: #B2D925;
}

.descripcion{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;

}
.titulo{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}


@media (max-width: 690px){
    .col{

        margin: 0%;
    }
  }
